<% layout("layout/boilerplate") %>
<div id="cluster-map"></div>
<h1 id="all-campground-title" class="mb-3">Search and View Our Campgrounds</h1>
<form action="/campgrounds/search" method="post" novalidate class="campground-form d-flex mb-3 search">
    <input class="form-control me-2" id="search" type="search" name="search" placeholder="Search based on title of campground" aria-label="Search" required>
    <button class="btn btn-outline-success" type="submit">Search</button>
</form>
<script>
    mpxToken = "<%- process.env.MAPBOX_TOKEN %>"
    campgrounds = {features: <%- JSON.stringify(campgrounds) %>}
</script>
<script src="/js/clusterMap.js"></script>
<script src="/js/infiniteScroll.js"></script>