<% layout("layout/boilerplate") %>
<div id="map" style="width: 100%; height: 300px; margin-bottom: 10px; margin-top: 0;"></div>
<h1 id="all-campground-title">Search and View Our Campgrounds</h1>
<script>
    mpxToken = "<%- process.env.MAPBOX_TOKEN %>"
    campgrounds = {features: <%- JSON.stringify(campgrounds) %>}
</script>
<script src="/js/clusterMap.js"></script>
<script src="/js/infiniteScroll.js"></script>